@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #F3F3F3;
	margin: 0;

}


.quill .ql-editor {
	width: 8.5in;
	min-height: 11in;
	padding: 1in;
	margin: 1rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	background-color: #fff;
}

.quill .ql-container.ql-snow {
	border: none;
	display: flex;
	justify-content: center;
}


.quill .ql-toolbar.ql-snow {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #F3F3F3;
	border: none;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);

}

@page {
	margin: 1in;
}

@media print {
	body {
		background: none;

	}

	.quill .ql-editor {
		margin: 0;
		padding: 0;
		top: 0;
		box-shadow: none;
	}

	.quill .ql-toolbar.ql-snow {
		display: none;
	}
}





































a {
	text-decoration: none;
	color: #000;
}



.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 60px;
}

.header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul li {
	margin-left: 20px;
}

.header ul li a {
	display: flex;
	align-items: center;
}

.header ul li a:hover {
	color: #777;
}

.header ul li a svg {
	margin-right: 5px;
}

.heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 50px;
	padding: 0 20px;
}

.heading p {
	color: #828282;
}

.form,
.content {
	width: 70%;
	margin: 0 auto;
}

.form-group {
	margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
	width: 100%;
	padding: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin-bottom: 10px;
	font-family: inherit;
}

.form-group label {
	text-align: left;
	display: block;
	margin: 0 0 5px 3px;
}

.btn {
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	appearance: button;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn svg {
	margin-right: 8px;
}

.btn-reverse {
	background: #fff;
	color: #000;
}

.btn-block {
	width: 100%;
	margin-bottom: 20px;
}

.btn:hover {
	transform: scale(0.98);
}



.docsList {
	display: column;
	flex-direction: row;
	justify-content: flex-start;

}


.docInfo {
	font-size: large;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.docTbl {
	font-size: larger;
}

.docInfo:first-child {
	margin-bottom: 1rem;
	border-bottom: 1px solid gray;
}

.docInfo:nth-child(2) {
	color: green;
	padding-bottom: 1rem;
	font-size: larger;

}

.docTitle,
.docUpd8,
.docUser {
	width: calc(100% / 3)
}

.docTitle {
	text-align: left;
	padding-left: 2rem;

}



nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navBtn {
	margin: 0 1rem;
	padding-top: 0.4rem;
}


.docTitleInput {
	float: left;
	clear: both;
	margin: 1rem;
}

input {
	border: 1px solid transparent;
	padding: 3px;
}

input:focus {
	border: 1px solid gray;
}


@media (max-width: 600px) {
	.form {
		width: 90%;
	}

	.heading h1 {
		font-size: 2rem;
	}

	.heading p {
		font-size: 1.5rem;
	}
}
