.react-tabs {
	border: 1px solid #ccc;
	max-width: 560px;
	width: 95%;
	margin: 1rem auto;
}

.login-form, .reg-form {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}


.fieldset {
	border-bottom: none;
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-between;
}

fieldset:last-of-type{
	border-bottom: 2px solid #ccc;
}

.react-tabs button {
	height: 2rem;
	margin-top: 1rem;
}
